{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="w-full pb-9 px-3 md:px-6">
    <div class="bg-gray-50 sticky top-0 z-10 flex items-center py-4">
        <div>
            <a href="{% url 'home' %}" class="bg-white p-3 rounded-md hover:bg-blue-500 hover:text-white"
                style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);"><i class="fas fa-arrow-left mr-1"></i></a>
        </div>

        <div class="ml-3">
            <a href="#" class="p-3 rounded-md bg-white hover:bg-blue-500 hover:text-white open_side_menu"
                style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);"><i class="fas fa-bars-staggered"></i></a>
        </div>

        <!-- SELECT QUERY FILTERS -->
        <div class="ml-3">
            <button type="button"
                class="bg-white hover:bg-blue-500 hover:text-white p-3 rounded-md inline-flex items-center select_table_columns_toggler"
                style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);">Select <i class="fas fa-caret-down ml-1"></i>
            </button>

            <!-- Dropdown menu -->
            <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded-md shadow-lg my-4 max-h-80 overflow-auto"
                id="select_table_columns">
                <ul class="py-1" aria-labelledby="select_table_columns">
                    <li class="select_all flex border-l-4 border-green-500 mb-1 hidden rounded-sm">
                        <span class="text-sm bg-gray-100 text-gray-700 block px-4 py-2" style="width: 150px;">Select
                            All</span>
                    </li>
                    <li class="deselect_all flex border-l-4 border-red-500 mb-1 rounded-sm">
                        <span class="text-sm bg-gray-100 text-gray-700 block px-4 py-2" style="width: 150px;">Deselect
                            All</span>
                    </li>
                    {% for heading in headings %}
                    <li class="border-l-4 border-indigo-500 mb-1 select_filters rounded-sm">
                        <input type="checkbox" name="{{heading}}" class="hidden" id="{{heading}}" checked>
                        <label for="{{heading}}" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2"
                            style="width: 150px;">{{heading}}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="ml-auto">
            <a href="#" class="p-3 rounded-md bg-white hover:bg-blue-500 hover:text-white inline-block filter_btn"
                style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);"><i class="fas fa-filter text-sm"></i> <span
                    class="hidden md:inline-block">Filters</span></a>
        </div>

        <div class="ml-3">
            <a href="{{downloadable_file}}"
                class="p-3 rounded-md bg-white hover:bg-blue-500 hover:text-white inline-block"
                style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);"><i class="fas fa-download text-sm"></i> <span
                    class="hidden md:inline-block">Download</span></a>
        </div>

    </div>

    <!-- DASHBOARD -->
    <div class="dashboard p-3">
        <div class="block lg:flex gap-x-3">
            <div class="flex-1 flex flex-wrap">
                
                {% for card in cards %}
                    
                    {% if not forloop.counter > 4 %}
                    <div class="w-full md:w-1/2 p-2 flex">
                        <div
                            class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                            <p class="text-2xl font-medium data_display flex-1">0</p>
    
                            <div class="text-right">
                                <span class="action hidden">{{card.action}}</span>
                                <span class="data_column hidden">{{card.data_column}}</span>
                                <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                        class="fas fa-pencil text-sm"></i></button><br>
                                <span class="w-full">{{card.title}}</span>
                            </div>
                        </div>
                        <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                                class="fas fa-pencil text-sm"></i></button>
                    </div>
                    {% endif %}
                    
                {% endfor %}
                
                {% if no_of_card_data < 1 %}
                <div class="w-full md:w-1/2 p-2 flex">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 2 %}
                <div class="w-full md:w-1/2 p-2 flex">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 3 %}
                <div class="w-full md:w-1/2 p-2 flex">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 4 %}
                <div class="w-full md:w-1/2 p-2 flex">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

            </div>

            <div class="flex-1">
                <div class="p-2">
                    <div class="p-3 bg-white shadow-md rounded-md flex">
                        <canvas id="chart1" class="flex-1" style="max-width: 100%; max-height: 250px;"></canvas>
                        <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute"><i
                            class="fas fa-pencil text-sm"></i></button>
                    </div>
                </div>
                <div class="hidden">
                    <ul class="chart_1_data">
                        {% for chart in charts %}                            
                            {% if not forloop.counter > 1 %}
                            <li><span id="chart_1_title">{{chart.title}}</span> <span id="chart_1_y_axis">{{chart.data_y}}</span> <span id="chart_1_x_axis">{{chart.data_x}}</span> <span id="chart_1_group_common_data">{{chart.group_common_data}}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="gap-x-3">

            <div class="w-full flex flex-wrap">

                {% for card in cards %}
                    
                    {% if not forloop.counter < 5 %}
                    <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex">
                        <div
                            class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                            <p class="text-2xl font-medium data_display flex-1">0</p>
    
                            <div class="text-right">
                                <span class="action hidden">{{card.action}}</span>
                                <span class="data_column hidden">{{card.data_column}}</span>
                                <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                        class="fas fa-pencil text-sm"></i></button><br>
                                <span class="w-full">{{card.title}}</span>
                            </div>
                        </div>
                        <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                                class="fas fa-pencil text-sm"></i></button>
                    </div>
                    {% endif %}
                    
                {% endfor %}

                {% if no_of_card_data < 5 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 6 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 7 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 8 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 9 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 10 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

            </div>

            <div class="w-full">
                <div class="p-2">
                    <div class="p-3 bg-white shadow-md rounded-md flex">
                        <canvas id="chart2" class="flex-1" style="max-width: 100%; height: 400px;"></canvas>

                        <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute"><i
                            class="fas fa-pencil text-sm"></i></button>
                    </div>
                </div>
                <div class="hidden">
                    <ul class="chart_2_data">
                        {% for chart in charts %}                            
                            {% if not forloop.counter < 2 %}
                            <li><span id="chart_2_title">{{chart.title}}</span> <span id="chart_2_y_axis">{{chart.data_y}}</span> <span id="chart_2_x_axis">{{chart.data_x}}</span> <span id="chart_2_group_common_data">{{chart.group_common_data}}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- TABLE -->
    <div class="bg-white rounded-md overflow-x-auto table_cont hidden">
        <table class="table-auto min-w-full">
            <thead class="bg-gray-50">
                <tr>
                    <th style="min-width: 70px !important;">S/N</th>
                    {% for heading in headings %}
                    <th class="px-3 py-2">{{heading}}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in rows %}
                <tr>
                    <td style="min-width: 70px !important;">{{forloop.counter}}</td>
                    {% for data in row %}
                    <td class="px-3 py-2 text-center">{{data}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

<!-- SIDE MENU -->
<div class="side_menu w-80 h-full overflow-y-auto fixed top-0 bg-blue-500 p-6 text-white z-20">
    <div class="flex justify-between">
        <span class="text-2xl font-medium">{{uploaded_file.title}}</span>
        <div><i class="fas fa-x py-2 close_side_menu"></i></div>
    </div>
    <div class="links w-100 mt-24">
        <small class="text-gray-100">My Activities</small>
        <ul class="p-0">
            <li class="mt-3 flex"><button class="text-left hover:underline flex-1 show_dashboard"><i
                        class="fas fa-chart-pie mr-1 text-xl"></i><span class="text-lg">Dashboard</span></button></li>
            <li class="mt-6 flex"><button class="text-left hover:underline flex-1 show_table"><i
                        class="fas fa-table mr-1 text-xl"></i><span class="text-lg">Table</span></button></li>
        </ul>
    </div>
</div>

<!-- FILTERS HOLDER -->
<div class="overflow-auto column_filters_holder ml-3 w-full max-w-md h-full bg-white fixed top-0 right-0 shadow-lg p-3 z-20">
    <span class="text-md py-4 px-3 flex items-center align-center gap-x-2 close_filters">
        <i class="fas fa-arrow-left"></i> Display data where:
    </span>
    {% for heading in headings %}
    <div class="inline-block column_filters w-full p-3 hover:bg-gray-50">
        <div class="flex">
            <span class="heading hidden">{{heading}}</span>
            <span class="shown_heading"></span>
            <select name="" id=""
                class="operators text-center focus:outline-none border border-gray-300 rounded-md px-1 mx-2 bg-transparent"
                id="operator{{forloop.counter}}">
                <option value="contains"> contains </option>
                <option value="=="> == </option>
                <option value=">"> > </option>
                <option value="<">
                    < </option>
                <option value=">="> >= </option>
                <option value="<=">
                    <= </option>
                <option value="!="> != </option>
            </select>
            <input type="text" class="border-b border-gray-900 focus:outline-none query flex-1 w-100 bg-transparent"
                id="query{{forloop.counter}}" placeholder="value (optional)">
        </div>
    </div>
    {% endfor %}
</div>

<style>
    table td,
    table th {
        text-align: center;
        min-width: 150px;
    }

    #select_table_columns::-webkit-scrollbar {
        width: 4px;
    }

    #select_table_columns::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 8px;
    }

    .column_filters_holder {
        right: -100%;
        transition: .3s;
    }

    .column_filters_holder.active {
        right: 0;
    }

    .column_filters_holder::-webkit-scrollbar-thumb {
        background: #999;
    }

    .column_filters select {
        appearance: none;
    }

    .side_menu {
        left: -100%;
        transition: .3s;
    }

    .side_menu.active {
        left: 0;
    }

    .close_side_menu {
        cursor: pointer;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // SELECT FILTER TOGGLER
    $(".select_table_columns_toggler").click(() => {
        $("#select_table_columns").toggleClass("hidden absolute")
    })

    // FILTER TOGGLE CONTROLS
    $(".filter_btn").click(() => $(".column_filters_holder").addClass("active"))
    $(".close_filters").click(() => $(".column_filters_holder").removeClass("active"))

    // SIDE MENU CONTROLS
    $(".open_side_menu").click(() => $(".side_menu").addClass("active"))
    $(".close_side_menu").click(() => $(".side_menu").removeClass("active"))
    $(".show_dashboard").click(() => {
        $(".dashboard").removeClass('hidden')
        $(".table_cont").addClass('hidden')
        $(".side_menu").removeClass("active")
    })
    $(".show_table").click(() => {
        $(".table_cont").removeClass('hidden')
        $(".dashboard").addClass('hidden')
        $(".side_menu").removeClass("active")
    })
    
</script>

<script src="{% static 'js/table_select_query_settings.js' %}"></script>
<script src="{% static 'js/table_filter_settings.js' %}"></script>
<script src="{% static 'js/dashboard_card_settings.js' %}"></script>
<script src="{% static 'js/chart_settings.js' %}"></script>

<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
{% endblock main %}