{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="w-full pb-9 px-3 md:px-6">
    <div class="text-xl font-medium font-jost mt-4 text-center">{{uploaded_file.title}}</div>
    <div class="bg-gray-50 sticky top-0 z-10 flex items-center py-4">
        <!-- BACK BUTTON -->
        <div>
            <a href="{% url 'home' %}" class="bg-white p-3 rounded-md hover:bg-blue-500 hover:text-white"
                style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);"><i class="fas fa-arrow-left mr-1"></i></a>
        </div>

        <!-- DASHBOARD SIDEMENU TOGGLER -->
        <div class="ml-3">
            <a href="#" class="p-3 rounded-md bg-white hover:bg-blue-500 hover:text-white open_side_menu"
                style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);"><i class="fas fa-bars-staggered"></i></a>
        </div>

        <!-- SELECT QUERY FILTERS -->
        <div class="ml-3">
            <button type="button"
                class="bg-white hover:bg-blue-500 hover:text-white p-3 rounded-md inline-flex items-center select_table_columns_toggler"
                style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);">Select <i class="fas fa-caret-down ml-1"></i>
            </button>

            <!-- Dropdown menu -->
            <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded-md shadow-lg my-4 max-h-80 overflow-auto"
                id="select_table_columns">
                <ul class="py-1" aria-labelledby="select_table_columns">
                    <li class="select_all flex border-l-4 border-green-500 mb-1 hidden rounded-sm">
                        <span class="text-sm bg-gray-100 text-gray-700 block px-4 py-2" style="width: 150px;">Select
                            All</span>
                    </li>
                    <li class="deselect_all flex border-l-4 border-red-500 mb-1 rounded-sm">
                        <span class="text-sm bg-gray-100 text-gray-700 block px-4 py-2" style="width: 150px;">Deselect
                            All</span>
                    </li>
                    {% for heading in headings %}
                    <li class="border-l-4 border-indigo-500 mb-1 select_filters rounded-sm">
                        <input type="checkbox" name="{{heading}}" class="hidden" id="{{heading}}" checked>
                        <label for="{{heading}}" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2"
                            style="width: 150px;">{{heading}}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- FILTER BUTTON -->
        <div class="ml-auto">
            <a href="#" class="p-3 rounded-md bg-white hover:bg-blue-500 hover:text-white inline-block filter_btn"
                style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);"><i class="fas fa-filter text-sm"></i> <span
                    class="hidden md:inline-block">Filters</span></a>
        </div>

        <!-- MORE ACTIONS BUTTON -->
        <div class="ml-3">
            <label for="show_more" class="p-3 rounded-md bg-white hover:bg-blue-500 hover:text-white inline-block"
                style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);"><i class="fas fa-ellipsis text-sm"></i> <span
                    class="hidden md:inline-block">More</span></label>
            <input type="checkbox" name="" id="show_more" class="show_more hidden">
            <label for="show_more" class="more hidden fixed top-0 left-0 w-full h-full flex justify-center items-center z-30" style="background: rgba(0, 0, 0, .3);">
                <div class="w-full max-w-sm p-3 rounded-md bg-white">
                    <span class="text-xl font-medium">More Actions:</span>
                    <div class="grid grid-cols-2 gap-3 mt-3">
                        <a href="{{downloadable_file}}"
                            class="p-3 rounded-md bg-white hover:bg-blue-500 hover:text-white inline-block text-center"
                            style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);">
                            <i class="fas fa-download text-sm"></i> Download
                        </a>
                        <button
                            class="p-3 rounded-md bg-white hover:bg-blue-500 hover:text-white inline-block"
                            style="box-shadow: 3px 3px 0 0px rgb(200, 200, 200);" onclick="copyPageLink()">
                            <i class="fas fa-copy text-sm"></i> Copy Link
                        </button>
                    </div>
                </div>
            </label>
        </div>

    </div>

    <!-- DASHBOARD -->
    <div class="dashboard p-3">
        <div class="block lg:flex gap-x-3">
            <div class="flex-1 flex flex-wrap">
                
                {% for card in cards %}
                    
                    {% if not forloop.counter > 4 %}
                    <div class="w-full md:w-1/2 p-2 flex">
                        <div
                            class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                            <p class="text-2xl font-medium data_display flex-1">0</p>
    
                            <div class="text-right">
                                <span class="action hidden">{{card.action}}</span>
                                <span class="data_column hidden">{{card.data_column}}</span>
                                <a href="{% url 'edit_card' uploaded_file.id card.id %}" class="w-8 h-8 py-1 text-center rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                        class="fas fa-pencil text-sm"></i></a><br>
                                <span class="w-full">{{card.title}}</span>
                            </div>
                        </div>
                        <a href="{% url 'edit_card' uploaded_file.id card.id %}" class="w-8 h-8 flex justify-center items-center rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                class="fas fa-pencil text-sm"></i></a>
                    </div>
                    {% endif %}
                    
                {% endfor %}
                
                {% if no_of_card_data < 1 %}
                <div class="w-full md:w-1/2 p-2 flex blank_card">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 2 %}
                <div class="w-full md:w-1/2 p-2 flex blank_card">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 3 %}
                <div class="w-full md:w-1/2 p-2 flex blank_card">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 4 %}
                <div class="w-full md:w-1/2 p-2 flex blank_card">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

            </div>

            <div class="flex-1">
                <div class="p-2">
                    <div class="p-3 bg-white shadow-md rounded-md flex charts">
                        <canvas id="chart1" class="flex-1" style="max-width: 100%; max-height: 250px;"></canvas>
                        {% if no_of_charts < 6 and no_of_charts is not 0 %}
                        <a href="{% url 'edit_chart' uploaded_file.id first_chart_id %}" class="w-8 py-1 text-center rounded-full bg-blue-300 text-white absolute {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></a>
                        {% else %}
                        <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                        {% endif %}
                    </div>
                </div>
                <div class="hidden">
                    <ul class="chart_1_data">
                        {% for chart in charts %}                            
                            {% if not forloop.counter > 1 %}
                            <li><span id="chart_1_title">{{chart.title}}</span> <span id="chart_1_type">{{chart.chart_type}}</span> <span id="chart_1_y_axis">{{chart.data_y}}</span> <span id="chart_1_x_axis">{{chart.data_x}}</span> <span id="chart_1_group_common_data">{{chart.group_common_data}}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="gap-x-3">

            <div class="w-full flex flex-wrap">

                {% for card in cards %}
                    
                    {% if not forloop.counter < 5 %}
                    <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex">
                        <div
                            class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                            <p class="text-2xl font-medium data_display flex-1">0</p>
    
                            <div class="text-right">
                                <span class="action hidden">{{card.action}}</span>
                                <span class="data_column hidden">{{card.data_column}}</span>
                                <a href="{% url 'edit_card' uploaded_file.id card.id %}" class="h-8 w-8 py-1 text-center rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></a><br>
                                <span class="w-full">{{card.title}}</span>
                            </div>
                        </div>
                        <a href="{% url 'edit_card' uploaded_file.id card.id %}" class="w-8 h-8 flex justify-center items-center rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></a>
                    </div>
                    {% endif %}
                    
                {% endfor %}

                {% if no_of_card_data < 5 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex blank_card">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 6 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex blank_card">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 7 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex blank_card">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 8 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex blank_card">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 9 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex blank_card">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

                {% if no_of_card_data < 10 %}
                <div class="w-full md:w-1/2 lg:w-1/3 p-2 flex blank_card">
                    <div
                        class="p-6 bg-white shadow-md rounded-md md:flex flex-1 justify-between items-center text-gray-900 hover:bg-blue-300 hover:text-white">
                        <span class="text-3xl font-medium flex-1">0</span>

                        <div class="flex-1 text-right">
                            <button class="w-8 h-8 rounded-full bg-blue-300 text-white hidden md:inline-block {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                                    class="fas fa-pencil text-sm"></i></button><br>
                            <span class="w-full">Add Data</span>
                        </div>
                    </div>
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute block md:hidden {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                </div>
                {% endif %}

            </div>

            <div class="w-full">
                <div class="p-2">
                    <div class="p-3 bg-white shadow-md rounded-md flex charts">
                        <canvas id="chart2" class="flex-1" style="max-width: 100%; height: 400px; max-height: 400px;"></canvas>

                        {% if no_of_charts < 6 and no_of_charts > 1 %}
                        <a href="{% url 'edit_chart' uploaded_file.id second_chart_id %}" class="w-8 py-1 text-center rounded-full bg-blue-300 text-white absolute {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></a>
                        {% else %}
                        <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                        {% endif %}
                    </div>
                </div>
                <div class="hidden">
                    <ul class="chart_2_data">
                        {% for chart in charts %}                            
                            {% if not forloop.counter < 2 %}
                            <li><span id="chart_2_title">{{chart.title}}</span> <span id="chart_2_type">{{chart.chart_type}}</span> <span id="chart_2_y_axis">{{chart.data_y}}</span> <span id="chart_2_x_axis">{{chart.data_x}}</span> <span id="chart_2_group_common_data">{{chart.group_common_data}}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            <!-- CHART 3 -->
            <div class="w-full">
                <div class="p-2">
                    <div class="p-3 bg-white shadow-md rounded-md flex charts">
                        <canvas id="chart3" class="flex-1" style="max-width: 100%; height: 400px; max-height: 400px;"></canvas>

                        {% if no_of_charts < 6 and no_of_charts > 2 %}
                        <a href="{% url 'edit_chart' uploaded_file.id third_chart_id %}" class="w-8 py-1 text-center rounded-full bg-blue-300 text-white absolute {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></a>
                        {% else %}
                        <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                        {% endif %}
                    </div>
                </div>
                <div class="hidden">
                    <ul class="chart_3_data">
                        {% for chart in charts %}                            
                            {% if not forloop.counter < 3 %}
                            <li><span id="chart_3_title">{{chart.title}}</span> <span id="chart_3_type">{{chart.chart_type}}</span> <span id="chart_3_y_axis">{{chart.data_y}}</span> <span id="chart_3_x_axis">{{chart.data_x}}</span> <span id="chart_3_group_common_data">{{chart.group_common_data}}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- CHART 4 -->
            <div class="w-full">
                <div class="p-2">
                    <div class="p-3 bg-white shadow-md rounded-md flex charts">
                        <canvas id="chart4" class="flex-1" style="max-width: 100%; height: 400px; max-height: 400px;"></canvas>

                        {% if no_of_charts < 6 and no_of_charts > 3 %}
                        <a href="{% url 'edit_chart' uploaded_file.id fourth_chart_id %}" class="w-8 py-1 text-center rounded-full bg-blue-300 text-white absolute {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></a>
                        {% else %}
                        <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                            class="fas fa-pencil text-sm"></i></button>
                        {% endif %}
                    </div>
                </div>
                <div class="hidden">
                    <ul class="chart_4_data">
                        {% for chart in charts %}                            
                            {% if not forloop.counter < 4 %}
                            <li><span id="chart_4_title">{{chart.title}}</span> <span id="chart_4_type">{{chart.chart_type}}</span> <span id="chart_4_y_axis">{{chart.data_y}}</span> <span id="chart_4_x_axis">{{chart.data_x}}</span> <span id="chart_4_group_common_data">{{chart.group_common_data}}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- CHART 5 -->
        <div class="w-full">
            <div class="p-2">
                <div class="p-3 bg-white shadow-md rounded-md flex charts">
                    <canvas id="chart5" class="flex-1" style="max-width: 100%; height: 400px; max-height: 400px;"></canvas>

                    {% if no_of_charts < 6 and no_of_charts > 4 %}
                    <a href="{% url 'edit_chart' uploaded_file.id fifth_chart_id %}" class="w-8 py-1 text-center rounded-full bg-blue-300 text-white absolute {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                        class="fas fa-pencil text-sm"></i></a>
                    {% else %}
                    <button class="w-8 h-8 rounded-full bg-blue-300 text-white absolute {% if not request.user.id is uploaded_file.user.id %}invisible{% endif %}"><i
                        class="fas fa-pencil text-sm"></i></button>
                    {% endif %}
                </div>
            </div>
            <div class="hidden">
                <ul class="chart_5_data">
                    {% for chart in charts %}                            
                        {% if not forloop.counter < 5 %}
                        <li><span id="chart_5_title">{{chart.title}}</span> <span id="chart_5_type">{{chart.chart_type}}</span> <span id="chart_5_y_axis">{{chart.data_y}}</span> <span id="chart_5_x_axis">{{chart.data_x}}</span> <span id="chart_5_group_common_data">{{chart.group_common_data}}</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- TABLE -->
    <div class="bg-white rounded-md overflow-x-auto table_cont hidden">
        <table class="table-auto min-w-full">
            <thead class="bg-gray-50">
                <tr>
                    <th style="min-width: 70px !important;">S/N</th>
                    {% for heading in headings %}
                    <th class="px-3 py-2">{{heading}}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in rows %}
                <tr>
                    <td style="min-width: 70px !important;">{{forloop.counter}}</td>
                    {% for data in row %}
                    <td class="px-3 py-2 text-center">{{data}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

<!-- SIDE MENU -->
<div class="side_menu w-80 h-full overflow-y-auto fixed top-0 bg-blue-500 p-6 text-white z-20">
    <div class="flex justify-between">
        <span class="text-2xl font-medium">{{uploaded_file.title}}</span>
        <div><i class="fas fa-x py-2 close_side_menu"></i></div>
    </div>
    <div class="links w-100 mt-24">
        <small class="text-gray-100">My Activities</small>
        <ul class="p-0">
            <li class="mt-3 flex"><button class="text-left hover:underline flex-1 show_dashboard"><i
                        class="fas fa-chart-pie mr-1 text-xl"></i><span class="text-lg">Dashboard</span></button></li>
            {% if request.user.is_authenticated %}
            
            {% if request.user.id is uploaded_file.user.id %}
            <li class="mt-6 flex"><button class="text-left hover:underline flex-1 show_table"><i
                class="fas fa-table mr-1 text-xl"></i><span class="text-lg">Table</span></button></li>
            {% endif %}
                
            {% endif %}
        </ul>
    </div>
</div>

<!-- FILTERS HOLDER -->
<div class="overflow-auto column_filters_holder ml-3 w-full max-w-md h-full bg-white fixed top-0 right-0 shadow-lg px-3 pb-3 z-20">
    <button class="text-md py-4 px-3 flex items-center align-center gap-x-2 close_filters w-full sticky bg-white top-0 mt-3">
        <i class="fas fa-arrow-left"></i> Display data where:
    </button>
    {% for heading in headings %}
    <div class="inline-block column_filters w-full p-3 hover:bg-gray-50">
        <div class="flex">
            <span class="heading hidden">{{heading}}</span>
            <span class="shown_heading"></span>
            <select name="" id=""
                class="operators text-center focus:outline-none border border-gray-300 rounded-md px-1 mx-2 bg-transparent"
                id="operator{{forloop.counter}}">
                <option value="contains"> contains </option>
                <option value="=="> == </option>
                <option value=">"> > </option>
                <option value="<">
                    < </option>
                <option value=">="> >= </option>
                <option value="<=">
                    <= </option>
                <option value="!="> != </option>
            </select>
            <input type="text" class="border-b border-gray-900 focus:outline-none query flex-1 w-100 bg-transparent"
                id="query{{forloop.counter}}" placeholder="value (optional)">
        </div>
    </div>
    {% endfor %}
</div>

<!-- ADD CARD POPUP -->
<div class="fixed top-0 left-0 w-full h-full add_form_popup z-30 flex justify-center items-center hidden" style="background: rgba(0, 0, 0, .3);">
    <div class="w-full max-w-md bg-white p-4 rounded-md">
        <div class="flex">
            <span class="text-lg text-medium">Create Card Data</span>
            <button class="close ml-auto"><i class="fas fa-times"></i></button>
        </div>
        <form action="{% url 'add_card' uploaded_file.id %}" method="post">
            {% csrf_token %}
            <div class="mt-3">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" class="mt-2 w-full border px-2 py-1 focus:border-blue-300 focus:outline-none" placeholder="Title:" required>
            </div>
            <div class="mt-3">
                <label for="data_column">Select column</label>
                <select name="data_column" id="data_column" class="mt-2 w-full border px-2 py-1 focus:border-blue-300 focus:outline-none text-gray-700" required>
                    
                    {% for heading in headings %}
                    <option value="{{heading}}">{{heading}}</option>
                    {% endfor %}
                        
                </select>
            </div>
            <div class="mt-3">
                <label for="action">Perform action:</label>
                <select name="action" id="action" class="mt-2 w-full border px-2 py-1 focus:border-blue-300 focus:outline-none text-gray-700" required>
                    <option value="len">Count row length</option>
                    <option value="sum">Sum column data</option>
                    <option value="avg">Average column data</option>
                </select>
            </div>
            <button type="submit" class="px-5 py-1 bg-blue-400 text-white mt-6 hover:bg-blue-500"><i class="fas fa-sd-card mr-2"></i>Save</button>
        </form>
    </div>
</div>

<!-- ADD CHART POPUP -->
<div class="fixed top-0 left-0 w-full h-full add_chart_form_popup z-30 flex justify-center items-center hidden" style="background: rgba(0, 0, 0, .3);">
    <div class="w-full max-w-xl bg-white p-4 rounded-md max-h-full overflow-auto">
        <div class="flex">
            <span class="text-lg text-medium">Create Chart Data</span>
            <button class="close ml-auto"><i class="fas fa-times"></i></button>
        </div>
        <form action="{% url 'add_chart' uploaded_file.id %}" method="post">
            {% csrf_token %}
            <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-2">
                <div class="w-full">
                    <div class="mt-3">
                        <label for="chart_title">Title:</label>
                        <input type="text" name="chart_title" id="chart_title" class="mt-2 w-full border px-2 py-1 focus:border-blue-300 focus:outline-none" placeholder="Title:" required>
                    </div>
                    <div class="mt-3">
                        <label for="data_x">Abscissa (x axis):</label><br>
                        <select name="data_x" id="data_x" class="mt-2 w-full border px-2 py-1 focus:border-blue-300 focus:outline-none text-gray-700" required>
                            
                            {% for heading in headings %}
                            <option value="{{heading}}">{{heading}}</option>
                            {% endfor %}
                                
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="data_y">Ordinate (y axis):</label><br>
                        <small>Note* select a column with integer values in them</small>
                        <select name="data_y" id="data_y" class="mt-2 w-full border px-2 py-1 focus:border-blue-300 focus:outline-none text-gray-700" required>
                            
                            {% for heading in headings %}
                            <option value="{{heading}}">{{heading}}</option>
                            {% endfor %}
                                
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="chart_type">Chart Type:</label>
                        <select name="chart_type" id="chart_type" class="mt-2 w-full border px-2 py-1 focus:border-blue-300 focus:outline-none text-gray-700" required>
                            <option value="bar">Bar Chart</option>
                            <option value="line">Line Graph</option>
                            <option value="doughnut">Doughnut Chart</option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <div class="flex">
                            <input type="checkbox" class="mr-2 group" id="group">
                            <label for="group">Group Similar Data</label>
                            <input type="text" name="group_common_data" id="group_common_data" class="hidden" value="False">
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="mt-3">
                        <label for="data_y2">Ordinate (y<sub>2</sub> axis):</label>
                        <select name="data_y2" id="data_y2" class="mt-2 w-full border px-2 py-1 focus:border-blue-300 focus:outline-none text-gray-700">
                            
                            <option value="">None</option>
                            {% for heading in headings %}
                            <option value="{{heading}}">{{heading}}</option>
                            {% endfor %}
                                
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="data_y3">Ordinate (y<sub>3</sub> axis):</label>
                        <select name="data_y3" id="data_y3" class="mt-2 w-full border px-2 py-1 focus:border-blue-300 focus:outline-none text-gray-700">
                            
                            <option value="">None</option>
                            {% for heading in headings %}
                            <option value="{{heading}}">{{heading}}</option>
                            {% endfor %}
                                
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="w-1/2 px-5 py-1 bg-blue-400 text-white mt-8 hover:bg-blue-500"><i class="fas fa-sd-card mr-2"></i>Save</button>
        </form>
    </div>
</div>

<style>
    table td,
    table th {
        text-align: center;
        min-width: 150px;
    }

    #select_table_columns::-webkit-scrollbar {
        width: 4px;
    }

    #select_table_columns::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 8px;
    }

    .column_filters_holder {
        right: -100%;
        transition: .3s;
    }

    .column_filters_holder.active {
        right: 0;
    }

    .column_filters_holder::-webkit-scrollbar-thumb {
        background: #999;
    }

    .column_filters select {
        appearance: none;
    }

    .side_menu {
        left: -100%;
        transition: .3s;
    }

    .side_menu.active {
        left: 0;
    }

    .close_side_menu {
        cursor: pointer;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // SELECT FILTER TOGGLER
    $(".select_table_columns_toggler").click(() => {
        $("#select_table_columns").toggleClass("hidden absolute")
    })

    // FILTER TOGGLE CONTROLS
    $(".filter_btn").click(() => $(".column_filters_holder").addClass("active"))
    $(".close_filters").click(() => $(".column_filters_holder").removeClass("active"))

    // SIDE MENU CONTROLS
    $(".open_side_menu").click(() => $(".side_menu").addClass("active"))
    $(".close_side_menu").click(() => $(".side_menu").removeClass("active"))
    $(".show_dashboard").click(() => {
        $(".dashboard").removeClass('hidden')
        $(".table_cont").addClass('hidden')
        $(".side_menu").removeClass("active")
    })
    $(".show_table").click(() => {
        $(".table_cont").removeClass('hidden')
        $(".dashboard").addClass('hidden')
        $(".side_menu").removeClass("active")
    })

    // ADD CARD FORM TOGGLER
    $(".blank_card button").click(() => {
        $(".add_form_popup").removeClass("hidden")
    })
    $(".add_form_popup .close").click(() => {
        $(".add_form_popup").addClass("hidden")
    })

    // ADD CHART FORM TOGGLER
    $(".charts button").click(() => $(".add_chart_form_popup").removeClass("hidden"))
    $(".add_chart_form_popup .close").click(() => $(".add_chart_form_popup").addClass("hidden"))

    // ADD CHART GROUP DATA CONTROLS
    $("#group").change(() => {
        if(document.getElementById("group").checked == true){
            $("#group_common_data").val("True")
        }else{
            $("#group_common_data").val("False")
        }
    })

    function copyPageLink(){
        var copyText = window.location.href
        console.log(copyText)
        navigator.clipboard.writeText(copyText);
        alert("Copied dashboard link")
    }
    
    $("#show_more").change(() => $(".more").toggleClass("hidden"))

</script>

<script src="{% static 'js/table_select_query_settings.js' %}"></script>
<script src="{% static 'js/table_filter_settings.js' %}"></script>
<script src="{% static 'js/dashboard_card_settings.js' %}"></script>
<script src="{% static 'js/chart_settings.js' %}"></script>

<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
{% endblock main %}