<div class="w-full flex justify-center py-3 sticky bottom-0 bottom_navigation bg-gray-50">
    <a href="#" class="p-2 rounded-md bg-white mx-3 hover:bg-blue-500 hover:text-white"><i class="fas fa-table-cells text-2xl"></i></a>
    <a href="#" class="p-2 rounded-md bg-white mx-3 hover:bg-blue-500 hover:text-white"><i class="fas fa-chart-column text-2xl"></i></a>
    <a href="#" class="p-2 rounded-md bg-white mx-3 hover:bg-blue-500 hover:text-white"><i class="fas fa-chart-pie text-2xl"></i></a>
    <a href="#" class="p-2 rounded-md bg-white mx-3 hover:bg-blue-500 hover:text-white"><i class="fas fa-chart-line text-2xl"></i></a>
    <a href="{{downloadable_file}}" class="p-2 rounded-md bg-white ml-auto mr-3 hover:bg-blue-500 hover:text-white"><i class="fas fa-download text-2xl"></i></a>
</div>

<style>
    .bottom_navigation a{
        box-shadow: 3px 3px 0 0px rgb(200, 200, 200);
        transition: .1s;
    }
    .bottom_navigation a:hover{
        box-shadow: 4px 4px 0 0px rgb(200, 200, 200);
    }
</style>